In [3]:
import sys
import os
sys.path.append("../")
sys.path.append("../..")

 ### Parameter Test
inputType ='file' # or file
refine_param = {'removeDuplication':True, 'staticFrequency':True}
outlier_param= {'certainOutlierToNaN':True, 'uncertainOutlierToNaN':True, 'data_type':'air'}
imputation_param ={
"imputation_method":[
    {"min":0,"max":1,"method":"mean"},
    {"min":2,"max":4,"method":"linear"},
    {"min":5,"max":10,"method":"brits"}],
"totalNanLimit":0.3}

import main as IT
input_data = IT.inputControl(inputType)

from KETIPrePartialDataPreprocessing import data_preprocessing
output = data_preprocessing.ByAllMethod(input_data, refine_param, outlier_param, imputation_param)

data Length after removeDuplication: 221686
data Length after make_static_frequency: 222429
NaN Ratio: temp 0.5 %
NaN Ratio: co2 0.33 %
NaN Ratio: pm10 0.47 %
                     temp  co2  pm10
timedate
2021-01-28 12:51:00   3.0  5.0   NaN
2021-01-28 12:52:00   3.0  5.0  64.0
2021-01-28 12:53:00   4.0  6.0  56.0
2021-01-28 12:54:00   4.0  7.0  59.0
2021-01-28 12:55:00   4.0  7.0  59.0
...                   ...  ...   ...
2021-07-01 23:55:00   1.0  2.0  47.0
2021-07-01 23:56:00   1.0  2.0  47.0
2021-07-01 23:57:00   1.0  2.0  47.0
2021-07-01 23:58:00   1.0  2.0  47.0
2021-07-01 23:59:00   1.0  2.0  47.0

[222429 rows x 3 columns]

In [5]:
import sys
import os
sys.path.append("../")
sys.path.append("../..")

 ### Parameter Test
inputType ='influx' # or file
refine_param = {'removeDuplication':True, 'staticFrequency':True}
outlier_param= {'certainOutlierToNaN':True, 'uncertainOutlierToNaN':True, 'data_type':'air'}
imputation_param ={
"imputation_method":[
    {"min":0,"max":1,"method":"mean"},
    {"min":2,"max":4,"method":"linear"},
    {"min":5,"max":10,"method":"brits"}],
"totalNanLimit":0.3}

import main as IT
input_data = IT.inputControl(inputType)

from KETIPrePartialDataPreprocessing import data_preprocessing
output = data_preprocessing.ByAllMethod(input_data, refine_param, outlier_param, imputation_param)

data Length after removeDuplication: 145652
data Length after make_static_frequency: 151338
NaN Ratio: in_ciai 3.76 %
NaN Ratio: in_cici 3.76 %
NaN Ratio: in_cici_co2 3.82 %
NaN Ratio: in_cici_humi 3.82 %
NaN Ratio: in_cici_noise 3.82 %
NaN Ratio: in_cici_pm10 3.76 %
NaN Ratio: in_cici_pm25 3.76 %
NaN Ratio: in_cici_temp 3.82 %
NaN Ratio: in_cici_voc 3.87 %
NaN Ratio: in_co2 3.84 %
NaN Ratio: in_humi 3.84 %
NaN Ratio: in_noise 3.84 %
NaN Ratio: in_pm01 3.76 %
NaN Ratio: in_pm01_raw 3.76 %
NaN Ratio: in_pm10 3.76 %
NaN Ratio: in_pm10_raw 3.76 %
NaN Ratio: in_pm25 3.76 %
NaN Ratio: in_pm25_raw 3.76 %
NaN Ratio: in_temp 3.84 %
NaN Ratio: in_voc 3.84 %
                           in_ciai  in_cici  in_cici_co2  in_cici_humi  \
time
2021-02-04 10:33:00+00:00     53.0     57.0          0.0          80.0
2021-02-04 10:34:00+00:00     67.0     60.0         88.0          54.0
2021-02-04 10:35:00+00:00     69.0     65.0         87.0          50.0
2021-02-04 10:36:00+00:00     73.0     66.0         88.0          47.0
2021-02-04 10:37:00+00:00     76.0     69.0         89.0          47.0
...                            ...      ...          ...           ...
2021-05-20 12:46:00+00:00     93.0     93.0         87.9          73.4
2021-05-20 12:47:00+00:00     93.0     93.0         87.5          73.4
2021-05-20 12:48:00+00:00     94.0     94.0         87.9          73.4
2021-05-20 12:49:00+00:00     94.0     94.0         88.6          73.4
2021-05-20 12:50:00+00:00     95.0     95.0         88.7          71.4

                           in_cici_noise  in_cici_pm10  in_cici_pm25  \
time
2021-02-04 10:33:00+00:00          80.00          93.0          93.0
2021-02-04 10:34:00+00:00          69.00          94.0          93.0
2021-02-04 10:35:00+00:00          67.00          94.0          93.0
2021-02-04 10:36:00+00:00          79.00          94.0          93.0
2021-02-04 10:37:00+00:00          80.00          94.0          93.0
...                                  ...           ...           ...
2021-05-20 12:46:00+00:00          40.60          90.7          92.7
2021-05-20 12:47:00+00:00          35.50          91.7          93.3
2021-05-20 12:48:00+00:00          32.10          93.0          94.0
2021-05-20 12:49:00+00:00          33.79          94.0          94.7
2021-05-20 12:50:00+00:00          40.60          94.7          95.3

                           in_cici_temp  in_cici_voc  in_co2  in_humi  \
time
2021-02-04 10:33:00+00:00          80.0         80.0     NaN      NaN
2021-02-04 10:34:00+00:00          49.0         31.0   552.0     22.0
2021-02-04 10:35:00+00:00          53.0         36.0   597.0     20.0
2021-02-04 10:36:00+00:00          62.0         45.0   540.0     19.0
2021-02-04 10:37:00+00:00          70.0         51.0   521.0     19.0
...                                 ...          ...     ...      ...
2021-05-20 12:46:00+00:00          84.7         99.8   561.0     32.0
2021-05-20 12:47:00+00:00          85.0         99.5   583.0     32.0
2021-05-20 12:48:00+00:00          86.2        100.0   564.0     32.0
2021-05-20 12:49:00+00:00          85.9        100.0   523.0     32.0
2021-05-20 12:50:00+00:00          85.9        100.0   517.0     31.0

                           in_noise  in_pm01  in_pm01_raw  in_pm10  \
time
2021-02-04 10:33:00+00:00       NaN     19.0         19.0     20.0
2021-02-04 10:34:00+00:00      61.0     19.0         19.0     19.0
2021-02-04 10:35:00+00:00      62.0     18.0         18.0     18.0
2021-02-04 10:36:00+00:00      56.0     17.0         17.0     17.0
2021-02-04 10:37:00+00:00      54.0     17.0         17.0     18.0
...                             ...      ...          ...      ...
2021-05-20 12:46:00+00:00      76.0     15.0         15.0     28.0
2021-05-20 12:47:00+00:00      79.0     15.0         15.0     25.0
2021-05-20 12:48:00+00:00      81.0     14.0         14.0     21.0
2021-05-20 12:49:00+00:00      80.0     12.0         12.0     18.0
2021-05-20 12:50:00+00:00      76.0     11.0         11.0     16.0

                           in_pm10_raw  in_pm25  in_pm25_raw  in_temp  in_voc
time
2021-02-04 10:33:00+00:00         20.0     11.0         11.0      NaN     NaN
2021-02-04 10:34:00+00:00         19.0     11.0         11.0     13.8  4396.0
2021-02-04 10:35:00+00:00         18.0     10.0         10.0     14.2  3421.0
2021-02-04 10:36:00+00:00         17.0     10.0         10.0     14.8  1694.0
2021-02-04 10:37:00+00:00         18.0     10.0         10.0     15.3   975.0
...                                ...      ...          ...      ...     ...
2021-05-20 12:46:00+00:00         28.0     11.0         11.0     25.5     5.0
2021-05-20 12:47:00+00:00         25.0     10.0         10.0     25.4     9.0
2021-05-20 12:48:00+00:00         21.0      9.0          9.0     25.0     0.0
2021-05-20 12:49:00+00:00         18.0      8.0          8.0     25.1     0.0
2021-05-20 12:50:00+00:00         16.0      7.0          7.0     25.1     0.0

[151338 rows x 20 columns]

In [6]:
input_data

,in_ciai,in_cici,in_cici_co2,in_cici_humi,in_cici_noise,in_cici_pm10,in_cici_pm25,in_cici_temp,in_cici_voc,in_co2,in_humi,in_noise,in_pm01,in_pm01_raw,in_pm10,in_pm10_raw,in_pm25,in_pm25_raw,in_temp,in_voc
time,,,,,,,,,,,,,,,,,,,,
2021-02-04 10:33:00+00:00,53.0,57.0,0.0,80.0,80.00,93.0,93.0,80.0,80.0,-9999.0,-9999.0,-9999.0,19.0,19.0,20.0,20.0,11.0,11.0,-9999.0,-9999.0
2021-02-04 10:34:00+00:00,67.0,60.0,88.0,54.0,69.00,94.0,93.0,49.0,31.0,552.0,22.0,61.0,19.0,19.0,19.0,19.0,11.0,11.0,13.8,4396.0
2021-02-04 10:35:00+00:00,69.0,65.0,87.0,50.0,67.00,94.0,93.0,53.0,36.0,597.0,20.0,62.0,18.0,18.0,18.0,18.0,10.0,10.0,14.2,3421.0
2021-02-04 10:36:00+00:00,73.0,66.0,88.0,47.0,79.00,94.0,93.0,62.0,45.0,540.0,19.0,56.0,17.0,17.0,17.0,17.0,10.0,10.0,14.8,1694.0
2021-02-04 10:37:00+00:00,76.0,69.0,89.0,47.0,80.00,94.0,93.0,70.0,51.0,521.0,19.0,54.0,17.0,17.0,18.0,18.0,10.0,10.0,15.3,975.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-20 12:46:00+00:00,93.0,93.0,87.9,73.4,40.60,90.7,92.7,84.7,99.8,561.0,32.0,76.0,15.0,15.0,28.0,28.0,11.0,11.0,25.5,5.0
2021-05-20 12:47:00+00:00,93.0,93.0,87.5,73.4,35.50,91.7,93.3,85.0,99.5,583.0,32.0,79.0,15.0,15.0,25.0,25.0,10.0,10.0,25.4,9.0
2021-05-20 12:48:00+00:00,94.0,94.0,87.9,73.4,32.10,93.0,94.0,86.2,100.0,564.0,32.0,81.0,14.0,14.0,21.0,21.0,9.0,9.0,25.0,0.0
2021-05-20 12:49:00+00:00,94.0,94.0,88.6,73.4,33.79,94.0,94.7,85.9,100.0,523.0,32.0,80.0,12.0,12.0,18.0,18.0,8.0,8.0,25.1,0.0
2021-05-20 12:50:00+00:00,95.0,95.0,88.7,71.4,40.60,94.7,95.3,85.9,100.0,517.0,31.0,76.0,11.0,11.0,16.0,16.0,7.0,7.0,25.1,0.0

In [7]:
temp_data = input_data[['in_temp']]
temp_new = temp_data.copy()

In [8]:
import numpy as np

In [9]:


for column in temp_new.columns:
    quantile_25 = np.percentile(temp_new[column].values, 25)
    quantile_75 = np.percentile(temp_new[column].values, 75)
    IQR = quantile_75 - quantile_25
    IQR_weight = IQR*1.5
    lowest = quantile_25 - IQR_weight
    highest = quantile_75 + IQR_weight
    outlier_idx = temp_new[column][(temp_new[column] < lowest) | (temp_new[column] > highest)].index
    temp_new[column][outlier_idx] = np.nan

In [5]:
temp_new

                           in_temp
time
2021-02-04 10:33:00+00:00  -9999.0
2021-02-04 10:34:00+00:00     13.8
2021-02-04 10:35:00+00:00     14.2
2021-02-04 10:36:00+00:00     14.8
2021-02-04 10:37:00+00:00     15.3
...                            ...
2021-05-20 12:46:00+00:00     25.5
2021-05-20 12:47:00+00:00     25.4
2021-05-20 12:48:00+00:00     25.0
2021-05-20 12:49:00+00:00     25.1
2021-05-20 12:50:00+00:00     25.1

[145652 rows x 1 columns]

In [33]:
temp_new.isna().sum()

in_temp    0
dtype: int64

In [21]:
temp_new['in_temp']['2021-02-04 10:33:00+00:00'] = np.nan

In [38]:
temp_new

                           in_temp
time
2021-02-04 10:33:00+00:00      NaN
2021-02-04 10:34:00+00:00     13.8
2021-02-04 10:35:00+00:00     14.2
2021-02-04 10:36:00+00:00     14.8
2021-02-04 10:37:00+00:00     15.3
...                            ...
2021-05-20 12:46:00+00:00     25.5
2021-05-20 12:47:00+00:00     25.4
2021-05-20 12:48:00+00:00     25.0
2021-05-20 12:49:00+00:00     25.1
2021-05-20 12:50:00+00:00     25.1

[145652 rows x 1 columns]

In [39]:
len(temp_new)

145652

In [22]:
new_series = temp_new.copy()
k=1.4826
window_size=7
n_sigma=3

In [23]:
new_series

                           in_temp
time
2021-02-04 10:33:00+00:00      NaN
2021-02-04 10:34:00+00:00     13.8
2021-02-04 10:35:00+00:00     14.2
2021-02-04 10:36:00+00:00     14.8
2021-02-04 10:37:00+00:00     15.3
...                            ...
2021-05-20 12:46:00+00:00     25.5
2021-05-20 12:47:00+00:00     25.4
2021-05-20 12:48:00+00:00     25.0
2021-05-20 12:49:00+00:00     25.1
2021-05-20 12:50:00+00:00     25.1

[145652 rows x 1 columns]

In [45]:
for column in new_series.columns:
    print(new_series[column][''])

time
2021-02-04 10:33:00+00:00     NaN
2021-02-04 10:34:00+00:00    13.8
2021-02-04 10:35:00+00:00    14.2
2021-02-04 10:36:00+00:00    14.8
2021-02-04 10:37:00+00:00    15.3
                             ...
2021-05-20 12:46:00+00:00    25.5
2021-05-20 12:47:00+00:00    25.4
2021-05-20 12:48:00+00:00    25.0
2021-05-20 12:49:00+00:00    25.1
2021-05-20 12:50:00+00:00    25.1
Name: in_temp, Length: 145652, dtype: float64

In [9]:
def HampelDetection(data, window_size=7, n_sigma=3):
    n = len(data)
    new_data = data.copy()
    new_data['index']=list(range(len(new_data.index)))
    new_data = new_data.set_index('index')

    k = 1.4826 # scale factor for Gaussian distribution
    
    for column in data.columns:
        for i in range((window_size),(n - window_size)):
            x0 = np.nanmedian(new_data[(i - window_size):(i + window_size)])
            S0 = k * np.nanmedian(np.abs(new_data[(i - window_size):(i + window_size)] - x0))
            if (np.abs(new_data[i] - x0) > n_sigma * S0):
                new_data[i] = np.nan
        data[column] = new_data[column]
    return data

In [10]:
new_series['indexing'] = list(range(len(new_series.index)))
new_series

                           in_temp  indexing
time
2021-02-04 10:33:00+00:00      NaN         0
2021-02-04 10:34:00+00:00     13.8         1
2021-02-04 10:35:00+00:00     14.2         2
2021-02-04 10:36:00+00:00     14.8         3
2021-02-04 10:37:00+00:00     15.3         4
...                            ...       ...
2021-05-20 12:46:00+00:00     25.5    145647
2021-05-20 12:47:00+00:00     25.4    145648
2021-05-20 12:48:00+00:00     25.0    145649
2021-05-20 12:49:00+00:00     25.1    145650
2021-05-20 12:50:00+00:00     25.1    145651

[145652 rows x 2 columns]

In [18]:
new_series2 = new_series.reset_index()

In [19]:
new_series2

                            time  in_temp  indexing
0      2021-02-04 10:33:00+00:00      NaN         0
1      2021-02-04 10:34:00+00:00     13.8         1
2      2021-02-04 10:35:00+00:00     14.2         2
3      2021-02-04 10:36:00+00:00     14.8         3
4      2021-02-04 10:37:00+00:00     15.3         4
...                          ...      ...       ...
145647 2021-05-20 12:46:00+00:00     25.5    145647
145648 2021-05-20 12:47:00+00:00     25.4    145648
145649 2021-05-20 12:48:00+00:00     25.0    145649
145650 2021-05-20 12:49:00+00:00     25.1    145650
145651 2021-05-20 12:50:00+00:00     25.1    145651

[145652 rows x 3 columns]

In [60]:
new_series = new_series.reset_index

In [79]:
new_series['in_temp'][0]

nan

In [77]:
new_series.size

145652

In [80]:
k = 1.4826 # scale factor for Gaussian distribution
n = len(temp_new)
for column in new_series.columns:
    for i in range((window_size),(n - window_size)):
        x0 = np.nanmedian(new_series[column][(i - window_size):(i + window_size)])
        S0 = k * np.nanmedian(np.abs(new_series[column][(i - window_size):(i + window_size)] - x0))
        if (np.abs(new_series[column][i] - x0) > n_sigma * S0):
            new_series[column][i] = np.nan

In [64]:
len(temp_new)

145652

In [25]:
new_series.reset_index()

                            time  in_temp
0      2021-02-04 10:33:00+00:00      NaN
1      2021-02-04 10:34:00+00:00     13.8
2      2021-02-04 10:35:00+00:00     14.2
3      2021-02-04 10:36:00+00:00     14.8
4      2021-02-04 10:37:00+00:00     15.3
...                          ...      ...
145647 2021-05-20 12:46:00+00:00     25.5
145648 2021-05-20 12:47:00+00:00     25.4
145649 2021-05-20 12:48:00+00:00     25.0
145650 2021-05-20 12:49:00+00:00     25.1
145651 2021-05-20 12:50:00+00:00     25.1

[145652 rows x 2 columns]

In [27]:
new = new_series.reset_index()

In [29]:
new.set_index('time')

                           in_temp
time
2021-02-04 10:33:00+00:00      NaN
2021-02-04 10:34:00+00:00     13.8
2021-02-04 10:35:00+00:00     14.2
2021-02-04 10:36:00+00:00     14.8
2021-02-04 10:37:00+00:00     15.3
...                            ...
2021-05-20 12:46:00+00:00     25.5
2021-05-20 12:47:00+00:00     25.4
2021-05-20 12:48:00+00:00     25.0
2021-05-20 12:49:00+00:00     25.1
2021-05-20 12:50:00+00:00     25.1

[145652 rows x 1 columns]

In [82]:
new_series.isna().sum()

in_temp    6001
dtype: int64

In [83]:
temp_new.isna().sum()

in_temp    1
dtype: int64

In [84]:
temp_new['in_temp'] = new_series['in_temp']

In [85]:
temp_new.isna().sum()

in_temp    145652
dtype: int64

In [89]:
temp_new.update(new_series)

In [90]:
temp_new

                           in_temp
time
2021-02-04 10:33:00+00:00  -9999.0
2021-02-04 10:34:00+00:00     13.8
2021-02-04 10:35:00+00:00     14.2
2021-02-04 10:36:00+00:00     14.8
2021-02-04 10:37:00+00:00     15.3
...                            ...
2021-05-20 12:46:00+00:00     25.5
2021-05-20 12:47:00+00:00     25.4
2021-05-20 12:48:00+00:00     25.0
2021-05-20 12:49:00+00:00     25.1
2021-05-20 12:50:00+00:00     25.1

[145652 rows x 1 columns]

In [91]:
temp_new.isna().sum()

in_temp    0
dtype: int64

In [92]:
import pandas as pd
a = pd.concat(temp_new, new_series)

/tmp/ipykernel_27095/2843089852.py:2: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  a = pd.concat(temp_new, new_series)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"